@import "./variables";

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu__wrapper--single {
  animation: apparition 1.5s linear forwards;

  &:nth-child(1) {
    animation-delay: 0.4s;
  }
  &:nth-child(2) {
    animation-delay: 0.8s;
  }

  &:nth-child(3) {
    animation-delay: 1.2s;
  }

  &:nth-child(4) {
    animation-delay: 1.6s;
  }

  &:nth-child(5) {
    animation-delay: 2s;
  }
}

.gradient__child1 {
  fill: url("#gradient__heart1");
  position: absolute;
  top: 10px;
  right: 25px;
  stroke: #3c3c3c;
  stroke-width: 0.75px;
  width: 25px;
}

stop {
  transition: 10s;
}

.gradient__child2 {
  fill: url("#gradient__heart2");
  position: absolute;
  top: 10px;
  right: 25px;
  stroke: #3c3c3c;
  stroke-width: 0.75px;
  width: 25px;
}
stop {
  transition: 0.5s;
}

.gradient__child3 {
  fill: url("#gradient__heart3");
  position: absolute;
  top: 10px;
  right: 25px;
  stroke: #3c3c3c;
  stroke-width: 0.75px;
  width: 25px;
}
stop {
  transition: 0.5s;
}

.gradient__child4 {
  fill: url("#gradient__heart4");
  position: absolute;
  top: 10px;
  right: 25px;
  stroke: #3c3c3c;
  stroke-width: 0.75px;
  width: 25px;
}
stop {
  transition: 0.5s;
}

.gradient__child--restaurant {
  fill: url("#gradient__heart--restaurant");
  position: absolute;
  top: 30px;
  right: 15px;
  stroke: #3c3c3c;
  stroke-width: 0.75px;
  width: 50px;
  height: 30px;
  transition: 3s;
}
stop {
  transition: 0.5s;
}

.gradient__child1:active,
.gradient__child2:active,
.gradient__child3:active,
.gradient__child4:active,
.gradient__child--restaurant:active {
  stroke-width: 0;
}

svg:active stop:first-child {
  stop-color: #ff79da;
  transition: 3s;
}
svg:active stop:last-child {
  stop-color: #9356dc;
  transition: 3s;
}

.validation {
  background-color: #99e2d0;
  width: 4rem;
  display: flex;
  border-radius: 0px 10px 10px 0;
  margin-top: -10px;
  left: 10px;
  position: relative;
  margin-right: -4rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  @include tablet-res {
    margin-right: -9rem;
  }
}

.menu__wrapper--single:active > .validation {
  margin-right: 0rem;
  transition: 1s;
}

.menu__wrapper--single:active > .validation > i {
  transform: rotate(360deg);
}

.validation > i {
  transition: transform 1s;
  transition-delay: 200ms;
}

.menu__wrapper--single:active > .menu__wrapper--description {
  width: 70%;
  min-width: 125px;
  @include tablet-res {
    min-width: unset;
    width: 100%;
  }
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  background-color: #99e2d0;
  z-index: 1;
  inset: 0;
  opacity: 0.7;
  animation: loader--hiding 3s ease-in-out forwards;
  animation-delay: 2s;
  top: -50px;
  gap: 25px;
  & p {
    color: #3c3c3c;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    font-style: italic;
  }
}

@keyframes loader--hiding {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
